body {
  margin: 0; /* Remove default browser margin */
  padding: 0; /* Remove default browser padding */
  background-color: #000; /* Set background color to black */
  color: white; /* Set text color to white */
  font-family: sans-serif; /* Use sans-serif font for text */
}

.App {
  min-height: 100vh; /* Ensure App takes at least full viewport height */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */

}